.edit-button{
    background: #00BC87 0% 0% no-repeat padding-box;
    border-radius: 9px;
    opacity: 1;
    /* width: 130px; */
    height: 40px;
    border: none;
    font: normal normal bold 12px/16px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.status-dropdown{
    color: #CCCCCC!important;
    background: #131313 0% 0% no-repeat padding-box!important;
    border-radius: 9px!important;
    opacity: 1!important;
}

.status-dropdown .visible .menu .transition{
    color: #CCCCCC!important;
    background: #131313 0% 0% no-repeat padding-box!important;
    border-radius: 9px!important;
    opacity: 1!important;
}