.announcement{
    background: #1B1B1B 0% 0% no-repeat padding-box;
    border-radius: 9px;
    opacity: 1;
    padding: 30px;
    margin-top: 30px;
}
.announcement-header{
    text-align: left;
    font: normal normal normal 13px/18px Roboto;
    letter-spacing: 0px;
    color: #989898;
    opacity: 1;
}
.announcement-label{
    text-align: left;
    font: normal normal bold 14px/19px Roboto;
    letter-spacing: 0px;
    color: #CCCCCC;
    opacity: 1;
}

.announcement-field .input-group .form-control{
    background-color: #000;
    border: 1px solid #000;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #7B7B7B;
    opacity: 1;
    margin-top:15px;
    height: 118px;
}

.announcement-button.btn{
    text-align: left;
    font: normal normal bold 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #00BC87 0% 0% no-repeat padding-box;
    border-radius: 9px;
    width: 181px;
    opacity: 1;
    border: none;
    margin-top: 30px;
}

.announcement-button.btn:hover{
    text-align: left;
    font: normal normal bold 12px/17px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #00BC87 0% 0% no-repeat padding-box;
    border-radius: 9px;
    width: 181px;
    opacity: 1;
    border: none;
    margin-top: 30px;
}